@font-face {
  font-family: 'moon';
  src: url(graphic-assets/fonts/Moon\ Bold.otf);
  font-style: normal;
  font-weight: 100;
}

html {
  height: 100%;
  width: 100%;
  margin: 0;
  overflow: auto;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background: linear-gradient(180deg, rgba(24,186,254,1) 0%, rgb(189, 227, 253) 100%);
  font-family: 'moon';
  overflow: auto;
}

/* NAVBAR */

.navbar {
  background-color: transparent !important;
}

.head-text {
  color: white;
  font-size: 24px;
}

.resume {
  text-align: center;
}

.resume h1 {
  color: white;
  font-size: 14px;
  margin: 4px 0;
}

.nav-buttons {
  display: flex;
}

.nav-buttons li {
  display: inline;
  margin: 0 10px;
  text-decoration: none;
  list-style: none;
  cursor: pointer;
}

.nav-buttons img:nth-child(2) {
  animation-delay: 1s;
}

/* BIO SECTION */

.introduction {
  text-align: -webkit-center;
}

.introduction h1 {
  color: black;
  font-size: 100%;
  padding: 2px 10px;
  text-align: center;
}

.bitmoji {
  width: 190px;
  height: 175px;
  border-radius: 50%;
  padding: 10px 0;
}

.introduction h2 {
  color: black;
  font-size: 80%;
  padding: 2px 10px;
  text-align: center;
}

.about-me {
  animation-delay: 100ms;
}

.bio {
  height: 50vh;
  background-color: white;
  border-radius: 20px;
}

.bio-section {
  margin-left: 5%;
}

.bio-section {
  color: white;
  /* text-align: center; */
}

.upper-section{
  display: flex;
  margin-top: 1%;
}

/* PROJECTS SECTION */

.projects {
  height: 50vh;
  margin-left: 5%;
  border-radius: 20px;
}

.portfolio-head {
  color: white;
  animation-delay: 850ms;
}

.port-proj {
  height: 15vh;
  background-color: white;
  border-radius: 10px;
  display: flex;
  margin: 5px 0;
  color: black;
}

.port-proj:hover {
  border: solid black 2px;
  cursor: pointer;
  text-decoration: none;
  text-decoration-line: none;
  list-style: none;
}

.port-proj h1 {
  font-size: 20px;
  align-self: center;
}

.proj-text {
  margin: 5px 20px;
  align-self: center;
  text-decoration: none;
  text-decoration-line: none;
  list-style: none;
}

.proj-text p {
  font-size: 12px;
}

.CC, .DD, .AA{
  width: 10%;
  height: 50%;
  border-radius: 3px;
  margin: 15px 0;
  border: black solid 0.2px;
  align-self: center;
}

/* PROJECT ANIMATION */

.port-proj:nth-child(3) {
  animation-delay: 200ms;
}

.port-proj:nth-child(2) {
  animation-delay: 400ms;
}


/* SKILL SECTION */

.skills-section {
  height: 100px;
  background-color: white;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 1% 25%;
  writing-mode: vertical-lr;
  text-align: center;
  padding: 5px;
}

.main-skills {
  text-align: -webkit-center;
}

.skills {
  align-self: center;
}

.skills img:hover {
  width: 80px;
  cursor: pointer;
}

.main-skills h1 {
  text-align: center;
  color: white;
  margin-top: 1%;
}

/* SKILL ANIMATIONS */
.skills img:nth-child(2) {
  animation-delay: 100ms;
}
.skills img:nth-child(3) {
  animation-delay: 200ms;
}
.skills img:nth-child(4) {
  animation-delay: 300ms;
}
.skills img:nth-child(5) {
  animation-delay: 400ms;
}
.skills img:nth-child(6) {
  animation-delay: 500ms;
}
.skills img:nth-child(7) {
  animation-delay: 600ms;
}
.skills img:nth-child(8) {
  animation-delay: 700ms;
}
.skills img:nth-child(9) {
  animation-delay: 800ms;
}
.skills img:nth-child(10) {
  animation-delay: 900ms;
}