@font-face {
  font-family: 'moon';
  src: url(graphic-assets/fonts/Moon\ Bold.otf);
  font-style: normal;
  font-weight: 100;
}

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background: linear-gradient(180deg, rgba(24,186,254,1) 0%, rgba(255,255,255,1) 100%);
  font-family: 'moon';
}

/* NAVBAR */

.navbar {
  background-color: transparent !important;
}

.head-text {
  color: white;
  font-size: 24px;
}

.nav-buttons li{
  display: inline;
  margin: 0 10px;
  text-decoration: none;
  list-style: none;
}